---
export const prerender = false;

import CommonHeader from "~/components/headers/common-header.astro";
import TripDetails from "~/components/info/trip-details.tsx";
import TripMap from "~/components/maps/trip-map";
import Layout from "~/layouts/root-layout.astro";
import { Card, CardContent } from "~/components/ui/card.tsx";
import { Show } from "solid-js";
import { XIcon } from "lucide-solid";
import { buttonVariants } from "~/components/ui/button";

const { route_id: routeId, trip_object_id: tripObjectId, stop_id: stopId } = Astro.params;

if (!routeId || !tripObjectId || !stopId) return Astro.redirect("/404");
---

<Layout>
    <Fragment slot="header">
        <CommonHeader title="Trip details" />
    </Fragment>
    <Fragment slot="body">
        <div
            class="absolute z-0 inset-0 w-[100dvw] h-[155dvh] -translate-y-[55dvh] sm:translate-y-0 sm:h-[100dvh] overflow-hidden"
        >
            <TripMap client:only="solid-js" tripObjectId={tripObjectId} stopId={stopId} />
        </div>

        <div class="absolute z-10 inset-x-2 sm:inset-x-4 md:top-4 bottom-4 md:max-w-sm lg:max-w-md">
            <Card class="w-full h-[calc(60dvh)] md:h-[calc(100dvh-32px)]">
                <CardContent class="flex flex-col px-4 py-2 h-full">
                    <TripDetails
                        client:only="solidjs"
                        tripObjectId={tripObjectId}
                        routeId={routeId}
                        stopId={stopId}
                    />

                    <a
                        href={import.meta.env.BASE_URL}
                        class={buttonVariants({
                            size: "sm",
                            variant: "ghost",
                            class: "absolute top-0 right-0 m-2",
                        })}
                    >
                        <XIcon />
                    </a>
                </CardContent>
            </Card>
            <Show when={import.meta.env.DEV}>
                <div class="absolute -bottom-4 text-xs text-muted-foreground p-2 flex gap-4">
                    <code>DEV MODE</code>
                    <code>{routeId}</code>
                    <code>{tripObjectId}</code>
                    <code>{stopId}</code>
                </div>
            </Show>
        </div>
    </Fragment>
</Layout>
